@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --color-vtx-primary: #1D70B8;
    --color-vtx-accent: #00AEEF;
    --color-vtx-secondary: #7EA1C4;
    --color-electric-500: #1D70B8;
    --color-electric-600: #00AEEF;
}

@layer base {
    body {
        font-family: var(--font-sans);
        background-color: #FAFAFA;
        color: #171717;
        overflow-x: hidden;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}